.notification {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  min-height: 30px;
  background-color: green;
  color: white;
  transform: translateY(100%);
  transition: all 0.3s ease-in;
  padding-top: 5px;
  padding-bottom: 5px;
}

.notification.error {
  background-color: red;
}

.notification.active {
  transform: translateY(0);
}

.container {
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;

}