.ingredient {
  display: flex;
  width: 100%;
  align-items: center;
}

.image {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #5c3de8;
  flex-shrink: 0;
  background-color: #131316;
  position: static;
}

.image img {
  width: 160%;
  height: 160%;
  object-fit: contain;
}

.name {
  margin-right: auto;
}

.price {
  justify-self: flex-end;
  display: flex;
  align-items: center;
}

.price svg {
  margin-left: 12px;
}