.feedItem {
  background-color: #1c1c21;
  border-radius: 40px;
  transition: background-color .3s ease;
}

.feedItem:hover {
  background-color: #28282f;
}

.feedItem a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
}

.price svg {
  margin-left: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.date {
  color: #8585AD;
}