.header {
  background: #1C1C21;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.header nav {
  width: calc(50% - 145px);
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.usermenu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.button {
  color: #8585AD;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.button.active {
  color: white;
}

.button svg {
  margin-right: 8px;
}

.logo {
  flex: 0 0 290px;
  height: 50px;
}

.logo svg {
  width: 100%;
  height: 100%;
}

